name: Docker-CI-Pipeline
on: push
jobs:
  docker-ci-job:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v6
        
      - name: Build docker image
        run: docker build -t Vishwaa/helloworld-demo-python:v2 .
      
      - name: Verify created image
        run: docker images
      
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker push
        run: docker push Vishwaa/helloworld-demo-python:v2 
          

   
